.header {
  display: flex;
  height: 55px;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: grey;
  z-index: 20;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-icon {
  height: 25px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-icon {
  height: 20px;
}

.center-section {
  display: flex;

  justify-content: center;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  align-items: center;
  justify-content: space-between;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}
.search-bar {
  flex: 1;
  height: 35px;
  font-size: 16px;
  padding-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0px;
}

.search-button {
  position: relative;
  height: 39px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  margin-left: -1px;
  margin-right: 8px;
}

.search-icon {
  height: 20px;
  margin-top: 4px;
}

.voice-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(248, 246, 246);
}

.voice-icon {
  height: 25px;
}

.right-section {
  display: flex;
  flex-shrink: 0;
  width: 180px;
  align-items: center;
  margin-right: 20px;
  justify-content: space-between;
}

.video-icon-button {
  background-color: white;
  border: none;
}

.video-icon {
  height: 20px;
  width: 20px;
}
.apps-button {
  background-color: white;
  border: none;
}
.apps-icon {
  height: 24px;
}
.settings-button .tooltip {
  z-index: 100;
}
.youtube-button,
.settings-button {
  background-color: white;
  border: none;
}

.notification-button {
  background-color: white;
  border: none;
}

.notification-icon {
  height: 24px;
}

.notification-number-div {
  position: relative;
}

.notification-number {
  position: absolute;
  background-color: rgb(206, 10, 10);
  color: white;
  font-family: Roboto, Arial;
  font-size: 10px;
  font-weight: 500;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  top: -4px;
  right: -6px;
}

.user-profile-button {
  background-color: white;
  border: none;
}

.user-profile-icon {
  height: 32px;
  border-radius: 16px;
}

.tooltip {
  font-family: Roboto, Arial;
}
.search-button,
.voice-button,
.video-icon-button,
.apps-button,
.notification-button,
.youtube-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.search-button .tooltip,
.voice-button .tooltip,
.video-icon-button .tooltip,
.apps-button .tooltip,
.notification-button .tooltip,
.youtube-button .tooltip {
  position: absolute;
  background-color: grey;
  color: white;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 2px;
  bottom: -30px;
  opacity: 0;

  pointer-events: none;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.video-icon-button:hover .tooltip,
.apps-button:hover .tooltip,
.notification-button:hover .tooltip,
.youtube-button:hover .tooltip {
  opacity: 1;
  cursor: pointer;
}
